body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
p{
    color: grey;
    margin-bottom: 6%;
    line-height: 1.7;
}
.half-width-div{
    float: left;
    width: 36%;

}
.profile-img-div{
    width: 40%;
}
.half-width-div img{
    width: 100%;
}
.header-first-div{
    padding-left: 15%;
    padding-top: 12%;
}
.name-highlights{
    color:#e44685;
    font-weight: 900;
    font-size: 40px;
}

.link-design{
    text-decoration: none;
    padding: 2% 5%;
    border-radius: 5px;
    background-color:#e44685;
    color: white;
}
.header-section{
    padding: 10% 0;
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 750px;
}
/* header section end */

.biography-img-div {
    padding-left: 13%;
    padding-right: 2%;
    width: 40%;
}
.biography-div{
    padding-top: 8%;
} 
.biography-section{
    padding: 5% 0;
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    min-height: 750px;
    background-size: 100% 100%;
}

/* biography section end */

.work-div{
    width: 25%;
    float: left;
    padding: 5% 2%;
}
.work-main-div{
    padding-left: 13%;
}
.work-div img{
    height: 250px;
    width:  300px;
}
.work-section{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    padding: 5% 0;
    text-align: center;
}
.work-section h1{
    font-size: 30px;
}
/* work section end */

.footer-part{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 780px;
    padding: 2% 20%;
    text-align: center;
}
.footer-part h1{
    font-weight: 500;
    padding-bottom: 3%;
}
.footer-part h3{
    margin-top: 4%;
    margin-bottom: 1%;
    padding: 0 25%;
    line-height: 1.7;
}
.weight-effect{
    font-weight: 400;
}
.footer-part p{
    margin: 0;
}
.mail-box{
    margin: 7% 5%;
    padding: 2% 6%;
    background-color:#e44685;
    color: white;
    border-radius: 5px;
}
.mail-box h2{
    padding-bottom: 2%;
}
.follow-div{
    background-color: white;
    margin: 7% 5%;
    margin-bottom: 16%;
    padding: 2% 6%;
    padding-bottom: 4%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
}
.follow-div a{
    text-decoration: none;
    padding: 2% 3%;
    margin: 0 7%;
    margin-right: 9%;
    color: black;
    border-radius: 5px;
}
.follow-div a:hover{
    background-color: #e44685;
    color: white;
}

/* footer section end */